<div class="container">
  <div class="hexSlider">
	<section class="slideDivText">
	  <article>
	    <h1>be hexagonal!</h1> Hear the six face polygons wise words. 
	  </article>
	  <article>
	    <h1>but be yourself... </h1> Be yourself is al that you can do. 
	  </article>
	  <article>
	    <h1>just be awesome!</h1> keep it real and be awesome. 
	  </article>
	</section>
	<div class="slideDivImage">
	  <img class="slideImage" src="images/slidePhoto1.jpg" />
	  <img class="slideImage" src="images/slidePhoto2.jpg" />	
 	  <img class="slideImage" src="images/slidePhoto3.jpg" />		
	</div>
	
  </div>
</div>
<div class="container threeColumn">
  <section class="row">
    <article class="hex5x6 hexRed col-xs-12 col-sm-4">
      <div class="content">	
	<h1>First Column</h1> The first column indeed.
      </div> 
    </article>
    <article class="hex5x6 hexRed col-xs-12 col-sm-4">
      <div class="content">
        <h1>Second Column</h1> I'm second best :) 
      </div>
    </article>
     <article class="hex5x6 hexRed col-xs-12 col-sm-4">
      <div class="content">
        <h1>Third Column</h1> This must be it. <a href="#">check it out! </a> 
      </div>
    </article>   
  </section>
</div>

